.login-card {
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
}

@keyframes rotate360 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate360 1s ease-in-out infinite;
}
