<div class="row header logo tauri">
  <span
    ><img
      src="/assets/icon-transparent.png"
      width="50"
      height="50"
      alt="Tauri logo"
  /></span>
  <span
    ><img src="/assets/title-transparent.png" height="50" alt="Tauri logo"
  /></span>
  <span class="company-name"><h1>{{companyName}}</h1></span>
</div>
<router-outlet />
<div class="my-body">
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
</div>
<div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
  <div><mat-slide-toggle>Toggle me!</mat-slide-toggle></div>
  <div><mat-checkbox>Toggle me!</mat-checkbox></div>
</div>
