.table-scrollable-container {
  max-height: 642px; /* Set a maximum height for the container */
  overflow-y: scroll; /* Enables vertical scrolling for the container */
  width: 100%; /* Adjust width as needed */
}

.table-scrollable-container table thead th {
  position: sticky;
  top: 0; /* Makes the header stick to the top of the container */
}
