.table-scrollable-container {
  max-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.table-scrollable-container table thead th {
  position: sticky;
  top: 0;
}

.top-fields-row {
  margin: 15px 5px -5px 5px;
}

::ng-deep .top-fields-row .mat-mdc-text-field-wrapper {
  font-weight: 600;
  background-color: var(--mat-sys-secondary-container);
}

.bottom-fields-row {
  margin: 15px 5px -5px 5px;
}

::ng-deep .bottom-fields-row .mat-mdc-text-field-wrapper {
  font-size: 30px;
  font-weight: bold;
  background-color: var(--mat-sys-secondary-container);
}

.bottom-fields-row .total-amount-field {
  color: var(--mat-sys-primary);
}

tr > th {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}