/* You can add global styles to this file, and also import other style files */
body {
  margin: 10px;
  font-family: Roboto, sans-serif;
  transform: scale(0.9); /* Reduces the size to 80% of its original */
  transform-origin: top left; /* Adjust origin as needed */
}
